<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">
<link rel="import" href="/src/images/logo.jpg">

<dom-module id="visor-cuenta">
  <template>
    <style>
      :host {
        display: block;
      }
      .verde {
          color:green;
      }
      .titulo {
          font-size: 20px;
      }
      .listaCuentas, .listaMovimientos {
          border: solid blue;
          width: 65%;
          font-size: 12px;
      }
      .btn-accion {
          margin-top: 10px;
          margin-bottom: 10px;
      }
      .tiempo {
          border: solid green;
          position: absolute;
          right: 100px;
          top: 20px;
          font-size: 10px;
      }
      .titinfo {
          margin-left: 20px;
          margin-right: 20px;
          font-weight:  bold;
      }
      .info {
          margin-left: 5px;
          font-style: italic;
      }
    </style>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
        integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

        <div class="tiempo">
        <div class="titinfo"> TIEMPO EN MADRID HOY : [[description]]</div>
             <div class="info">Temperatura : [[temp]] ºC</div>
             <div class="info">Mínima      : [[temp_min]]ºC</div>
             <div class="info">Máxima      : [[temp_max]]ºC</div>
             <div class="info">Humedad     : [[humidity]]%</div>
             <div class="info">Velocidad viento: [[speed]] Km/h</div>
             <div class="info">Presión     : [[pressure]] hPa</div>
        </div>

    <div class="listaCuentas">
        <div class="titulo">Cuentas del usuario : [[idUsuario]] Nombre :[[first_name]] Apellidos :[[last_name]]</div>
        <button on-click="logout" style="position:absolute; right:15px; top:20px;">Salir</button>

        <br>
        </br>


        <div class="row">
           <div class="col-md-4" style="font-weight: bold;">CUENTA</div>
           <div class="col-md-3" style="font-weight: bold;">SALDO</div>
        </div>

        <template is="dom-repeat" items="{{accounts}}">
          <h8>
          <div class="row">
            <div class="col-md-4">
                <span><input type="radio" name="cuentaSel" value = {{item.IBAN}} class="call-md-2"> IBAN - {{item.IBAN}}</span>
            </div>
            <div class="col-md-3">
              <span class=verde >{{item.balance}} € </span>
            </div>
          </div>
        </br></h8>
        </template>
      </div>

      <div class="btn-group-vertical">
        <span><button on-click="consulta" class="btn btn-primary btn-sm btn-accion">Consulta movimientos</button></span>

        <span>
          <button on-click="ingreso" class="btn btn-primary btn-sm btn-accion">Ingreso</button>
          <input placeholder="Importe ingreso" type="number" value="{{impIngreso::input}}"
                  required autofocus hidden$="{{!hayIngreso}}"/>
          <button on-click="aceptarIngreso" class="btn btn-primary btn-sm btn-accion"
                  hidden$="{{!hayIngreso}}">Aceptar</button>
        </span>

        <span><button on-click="reintegro" class="btn btn-primary btn-sm btn-accion">Reintegro</button>
          <input placeholder="Importe reintegro" type="number" value="{{impReintegro::input}}"
                  required autofocus hidden$="{{!hayReintegro}}"/>
          <button on-click="aceptarReintegro" class="btn btn-primary btn-sm btn-accion"
                  hidden$="{{!hayReintegro}}">Aceptar</button>
        </span>

        <span><button on-click="altaContrato" class="btn btn-primary btn-sm btn-accion">Alta cuenta</button></span>

      </div>

    <br>

    <div class="listaMovimientos" hidden$="{{!hayConsulta}}">
      <div  class="titulo">Movimientos de la cuenta : {{cuentaSelected}}</div>

      <div class="row">
         <div class="col-md-3" style="font-weight: bold;">IMPORTE</div>
         <div class="col-md-3" style="font-weight: bold;">FECHA</div>
         <div class="col-md-3" style="font-weight: bold;">CONCEPTO</div>
      </div>

      <template is="dom-repeat" items="{{movements}}">
        <div class="row">
          <div class="col-md-3">
            <span>{{item.imPoper}} €</span>
          </div>
          <div class="col-md-3">
            <span>{{item.fecPoper}}</span>
          </div>
          <div class="col-md-3">
            <span>{{item.concepto}}</span>
          </div>
        </div>
      </template>
    </div>

    <iron-ajax auto
      id="getWeather"
      url=
      "http://api.openweathermap.org/data/2.5/weather?q=Madrid,es&units=metric&lang=es&APPID=807214464039936481eaf384976ddfa0"
      handle-as="json"
      on-response="showWeather"
    >

<!--    <iron-ajax auto -->
    <iron-ajax
      id="getAccount"
      url="http://localhost:3000/proyecto2019/account/{{idUsuario}}"
      handle-as="json"
      on-response="showData"
    >

    <iron-ajax auto
      id="getUser"
      url="http://localhost:3000/proyecto2019/users/{{idUsuario}}"
      handle-as="json"
      on-response="showDataUsuario"
      on-error="showErrorUsuario"
    >

    <iron-ajax
      id="doLogout"
      url="http://localhost:3000/proyecto2019/logout"
      handle-as="json"
      content-type="application/json"
      method="POST"
      on-response="manageLogout"
    >

    <iron-ajax
      id="doConsulta"
      url="http://localhost:3000/proyecto2019/movement"
      handle-as="json"
      content-type="application/json"
      method="POST"
      on-response="manageConsulta"
    >

    <iron-ajax
      id="doIngreso"
      url="http://localhost:3000/proyecto2019/altaMovement"
      handle-as="json"
      content-type="application/json"
      method="POST"
      on-response="manageAltaMovement"
    >

    <iron-ajax
      id="doReintegro"
      url="http://localhost:3000/proyecto2019/altaMovement"
      handle-as="json"
      content-type="application/json"
      method="POST"
      on-response="manageAltaMovement"
    >

    <iron-ajax
      id="doAltaContrato"
      url="http://localhost:3000/proyecto2019/altaContrato"
      handle-as="json"
      content-type="application/json"
      method="POST"
      on-response="manageAltaContrato"
    >

  </template>


  <script>
    /**
     * @customElement
     * @polymer
     */

    class VisorCuenta extends Polymer.Element {
      static get is() { return 'visor-cuenta'; }
      static get properties() {
        return {
            IBAN: {
            type: String
          }, balance: {
            type: Number
          }, idUsuario: {
            type: String
          }, accounts: {
            type: Array
          },cuentaSelected: {
            type: String ,value: ""
          },imPoper: {
            type: Number
          },fecPoper: {
            type: String
          },concepto: {
            type: String
          },movements: {
            type: Array
          }, hayIngreso: {type: Boolean, value: false}
           , hayConsulta: {type: Boolean, value: false}
           , impIngreso: {type: Number}
           , hayReintegro: {type: Boolean, value: false}
           , impReintegro: {type: Number}
           , description: {type: String}
           , temp: {type: Number}
           , temp_min: {type: Number}
           , temp_max: {type: Number}
           , humidity: {type: Number}
           , speed: {type:Number}
           , pressure: {type:Number}
           , first_name: {type:String}
           , last_name: {type:String}
        };
      }

      showWeather(data) {
          console.log("En showData en Front");
          console.log(data.detail.response);

          this.description = data.detail.response.weather[0].description;
          this.temp = data.detail.response.main.temp;
          this.temp_min = data.detail.response.main.temp_min;
          this.temp_max = data.detail.response.main.temp_max;
          this.humidity = data.detail.response.main.humidity;
          this.speed = data.detail.response.wind.speed;
          this.pressure = data.detail.response.main.pressure;
      }

      showData(data) {
          console.log("En showData en Front");
          console.log(data.detail.response);

          this.IBAN = data.detail.response[0].IBAN;
//          this.balance = data.detail.response[0].balance;
          this.idUsuario = data.detail.response[0].idUsuario;
          this.accounts = data.detail.response;

          for (var i=0; i < data.detail.response.length; i++) {
              this.accounts[i].balance = data.detail.response[i].balance.toLocaleString('es-ES');
          }
      }

      showError(error){
          window.alert("Usuario sin cuentas");
      }

      showDataUsuario(data){
          console.log(data.detail.response);

          if (data.detail.response.logged == true) {
              this.first_name = data.detail.response.first_name;
              this.last_name = data.detail.response.last_name;

              this.$.getAccount.params.idUsuario = this.idUsuario;
              this.$.getAccount.generateRequest();

          } else {
              window.alert("Usuario no conectado");
          }
      }

      showErrorUsuario(error) {
          window.alert("Error al acceder al usuario o no conectado");
      }

    logout() {
      console.log("El usuario ha pulsado el botón de salir");
      var logoutData = {
        "id" : this.idUsuario
      };
      this.$.doLogout.body = JSON.stringify(logoutData);
      this.$.doLogout.generateRequest();
    }
     manageLogout(data){
     console.log("Logout por pulsar salir");
     window.location = "/";
    }

     consulta() {
     console.log("pulsado boton de consulta");
     var radios = this.shadowRoot.querySelectorAll('.call-md-2');

     var seleccionado = false;

     for (var i = 0; i<radios.length;i++){
       console.log("Valor de radio: " + radios[i].value);
       console.log("checked de radio: " + radios[i].checked + "indice: " +i);
       if (radios[i].checked){
         var ibanselected = radios[i].value;
         seleccionado = true;
       }
     }

     if (!seleccionado) {
        window.alert("Debe seleccionar una cuenta")
     } else {
       this.hayConsulta = true;
       console.log("IBAN Seleccionado :" + ibanselected);

       this.cuentaSelected = ibanselected;

       var consultaData = {
            "IBAN" : ibanselected
       };

       this.$.doConsulta.body = JSON.stringify(consultaData);
       this.$.doConsulta.generateRequest();
       console.log("****  datos  ***");
       console.log("----->  this.$.doConsulta.body :" + this.$.doConsulta.body);
       console.log("Peticion de consulta de movimientos enviada");
     }
   }
     manageConsulta(data){
     console.log("Consulta por pulsar consulta");

//     this.imPoper = data.detail.response[0].imPoper;
     this.fecPoper = data.detail.response[0].fecPoper;
     this.concepto = data.detail.response[0].concepto;
     this.movements = data.detail.response;

     console.log("Movimientos :" + data.detail.response.length);

     for (var i=0; i < data.detail.response.length; i++) {
         this.movements[i].imPoper = data.detail.response[i].imPoper.toLocaleString('es-ES');
     }

    }

    ingreso(){
      this.hayIngreso = true;
    }

    reintegro(){
      this.hayReintegro = true;
    }

    aceptarIngreso() {
      console.log("El usuario ha pulsado el botón de ingreso");
      var radios = this.shadowRoot.querySelectorAll('.call-md-2');

      if (this.impIngreso == undefined) {
        window.alert("Debe informar el importe del ingreso");
      } else {
            var seleccionado = false;

            for (var i = 0; i<radios.length;i++){
              console.log("Valor de radio: " + radios[i].value);
              console.log("checked de radio: " + radios[i].checked + "indice: " +i);
              if (radios[i].checked){
                var ibanselected = radios[i].value;
                seleccionado = true;
              }
            }

            if (!seleccionado) {
               window.alert("Debe seleccionar una cuenta para hacer el ingreso")
            } else {
                    console.log("IBAN Seleccionado :" + ibanselected);

                    this.cuentaSelected = ibanselected;
                    var conIngreso = "Ingreso";

                    var ingresoData = {
                         "IBAN" : ibanselected,
                         "imPoper" :  this.impIngreso,
                         "concepto" : conIngreso
                    };

                    this.$.doIngreso.body = JSON.stringify(ingresoData);
                    this.$.doIngreso.generateRequest();
                    console.log("****  datos  ***");
                    console.log("----->  this.$.doConsulta.body :" + this.$.doIngreso.body);
                    console.log("Peticion de consulta de movimientos enviada");
            }
      }
    }

    aceptarReintegro() {
      console.log("El usuario ha pulsado el botón de reintegro");
      var radios = this.shadowRoot.querySelectorAll('.call-md-2');

      if (this.impReintegro == undefined) {
        window.alert("Debe informar el importe del reintegro");
      } else {
              var seleccionado = false;

              for (var i = 0; i<radios.length;i++){
                console.log("Valor de radio: " + radios[i].value);
                console.log("checked de radio: " + radios[i].checked + "indice: " +i);
                if (radios[i].checked){
                  var ibanselected = radios[i].value;
                  seleccionado = true;
                }
              }

              if (!seleccionado) {
                 window.alert("Debe seleccionar una cuenta para hacer el reintegro")
              } else {
                    console.log("IBAN Seleccionado :" + ibanselected);

                    this.cuentaSelected = ibanselected;
                    var conReintegro = "Reintegro";

                    var reintegroData = {
                         "IBAN" : ibanselected,
                         "imPoper" : this.impReintegro,
                         "concepto" : conReintegro
                    };

                    this.$.doReintegro.body = JSON.stringify(reintegroData);
                    this.$.doReintegro.generateRequest();
                    console.log("****  datos  ***");
                    console.log("----->  this.$.doConsulta.body :" + this.$.doReintegro.body);
                    console.log("Peticion de consulta de movimientos enviada");
              }
      }
    }

    altaContrato() {
      console.log("El usuario ha pulsado el botón de alta de cuenta");
      var accountData = {
        "idUsuario" : this.idUsuario
      };
      this.$.doAltaContrato.body = JSON.stringify(accountData);
      this.$.doAltaContrato.generateRequest();
      console.log("----->  this.$.doAltaContrato.body :" + this.$.doAltaContrato.body);
      console.log("Peticion de SALIR enviada");
    }

     manageAltaMovement(data){
     console.log("Alta de movimiento");
     window.location = this.idUsuario;
    }

    manageAltaContrato(data){
     console.log("Llegaron los datos del alta de cuenta");
     window.location = this.idUsuario;
//     window.location = "/account" + this.idUsuario;


  }
}
    window.customElements.define(VisorCuenta.is, VisorCuenta);

  </script>
</dom-module>
