<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html"/>

<dom-module id="visor-movimiento">
  <template>
    <style>
      :host {
        display: block;
        border: solid green;
      }
      .azul {
        color:blue;
      }

    </style>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <h2>Movimientos de la cuenta [[IBAN]]</h2>
    <button on-click="logout" style="position:absolute; right:15px; top:20px;">Salir</button>
    <button on-click="volver" style="position:absolute; right:25px; top:30px;">Volver</button>

    <template is="dom-repeat" items="{{movements}}"><h8>
      <div class="row">
        <div class="col-md-3">
          <span>Importe : {{item.imPoper}}</span>
        </div>
        <div class="col-md-3">
          <span>Fecha : {{item.fecPoper}}</span>
        </div>
        <div class="col-md-3">
          <span>Concepto : {{item.concepto}}</span>
        </div>
      </div>
    </br></h8>
    </template>

    <iron-ajax
      auto
      id="getMovement"
      url="http://localhost:3000/proyecto2019/account/movement/{{IBAN}}"
      handle-as="json"
      on-response="showData"
    >

    <iron-ajax
      id="doLogout"
      url="http://localhost:3000/proyecto2019/logout"
      handle-as="json"
      content-type="application/json"
      method="POST"
      on-response="manageLogout"
    >

    <iron-ajax
      id="doVolver"
      url="http://localhost:3000/proyecto2019/account"
      handle-as="json"
      content-type="application/json"
      method="GET"
    >

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class VisorMovimiento extends Polymer.Element {
      static get is() { return 'visor-movimiento'; }
      static get properties() {
        return {
          IBAN: {type: String},
          imPoper: {type: Number},
          fecPoper: {type: String},
          concepto: {type: String},
          movements: {type: Array}
        };
      }

      showData(data){
        console.log(data.detail.response);

        this.IBAN = data.detail.response[0].IBAN;
        this.imPoper = data.detail.response[0].imPoper;
        this.fecPoper = data.detail.response[0].fecPoper;
        this.concepto = data.detail.response[0].concepto;
        this.movements = data.detail.response;
      }

      logout() {
        console.log("El usuario ha pulsado el botón de salir");
        console.log("Voy a enviar la petición de logout");

        var logoutData = {
          "id" : this.idUsuario
        };

        this.$.doLogout.body = JSON.stringify(logoutData);
        this.$.doLogout.generateRequest();

        console.log("Petición enviada");
      }

      manageLogout(){
        console.log("Usuario desconectado");
        window.location = "/";
      }

      volver() {
        console.log("El usuario ha pulsado el botón de volver a ctas.");

//        var logoutMvts = {{idUsuario}};

        var logoutMvts = 66;

        console.log("Petición enviada :" + logoutMvts);
        window.location = "/" + logoutMvts;
      }

}
    window.customElements.define(VisorMovimiento.is, VisorMovimiento);
  </script>
</dom-module>
