<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="proyecto2019_front-app">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h2>Hello [[prop1]]!</h2>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class Proyecto2019_frontApp extends Polymer.Element {
      static get is() { return 'proyecto2019_front-app en el return'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'proyecto2019_front-app dentro de get properties'
          }
        };
      }
    }

    window.customElements.define(Proyecto2019_frontApp.is, Proyecto2019_frontApp);
  </script>
</dom-module>
