<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="login-usuario">
  <template>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
      integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <style>
      :host {
        display: block;
      }
      .alert{
        margin: auto;
        text-align: center;
      }

    </style>

    <input placeholder="email" type="email" value="{{email::input}}" required autofocus/>
    <input placeholder="password" type="password" value="{{password::input}}" required/>
    <button on-click="login" class="btn btn-outline-primary" >Entrar</button>
    <button on-click="altaUsuario" class="btn btn-outline-secondary">Hazte cliente</button>
<!--    <span hidden$="{{!isLogged}}">Bienvenido/a de nuevo</span> -->
    <br></br>
    <br></br>

    <div class="alert alert-danger alert-dismissible" style="width:450px;" hidden$="{{!hayError}}">
           <a href="" class="close" data-dismiss="alert" aria-label="close">&times;</a>
           <strong>¡Error!</strong> Usuario y/o contraseña incorrectos
    </div>

<!--    <div id="error" hidden$="{{!hayError}}">Usuario y/o password incorrecta</div> -->

    <iron-ajax
      id="doLogin"
      url="http://localhost:3000/proyecto2019/login"
      handle-as="json"
      content-type="application/json"
      method="POST"
      on-response="manageAJAXResponse"
      on-error="showError"
    >

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class LoginUsuario extends Polymer.Element {
      static get is() { return 'login-usuario'; }
      static get properties() {
        return {
          email: {type: String},
          password: {type: String},
          isLogged: {type: Boolean, value: false},
          hayError: {type: Boolean, value: false}
        };
      }

      login() {
        console.log("El usuario ha pulsado el botón");
        console.log("Voy a enviar la petición");
        if (this.email == undefined)  {
          window.alert("Debe informar e-mail");
        } else {
          if (this.password == undefined) {
            window.alert("Debe informar la password");
          } else {
            var loginData = {
              "email" : this.email,
              "password" : this.password
            };

            this.$.doLogin.body = JSON.stringify(loginData);
            this.$.doLogin.generateRequest();
            console.log("Peticion enviada");
          }
        }
      }

      manageAJAXResponse(data){
       console.log("Llegaron los datos");
       console.log(data.detail.response);
       this.isLogged = true;
       window.location = "account/" + data.detail.response.idUsuario;

     }
      showError(error) {
        console.log("Hubo un error");
        console.log(error);
        this.hayError = true;

      }

      altaUsuario(){
       console.log("Llegaron los datos");
       window.location = "/alta";
     }
    }

    window.customElements.define(LoginUsuario.is, LoginUsuario);
  </script>
</dom-module>
