<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="alta-usuario">
  <template>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
    integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <style>
      :host {
        display: block;
      }
      .datosAlta  {
         margin-top: .5em;
         margin-bottom: .5em;
         margin-left: 1%;
         margin-right: .5em;
       }
      .botones {
        margin-left: 1%;
      }

    </style>

<div id="divAlta">
    <div class="datosAlta"><input placeholder="Nombre" type="text" value="{{first_name::input}}" required autofocus/></div>
    <div class="datosAlta"><input placeholder="Apellidos" type="text" value="{{last_name::input}}" required autofocus/></div>

    <div class="datosAlta"><input placeholder="email" type="text" value="{{email::input}}" required autofocus/></div>
    <div class="datosAlta"><input placeholder="password" type="password" value="{{password::input}}" required/></div>

    <div class="botones">
      <button on-click="aceptar" class="btn btn-outline-primary btn-sm" >Aceptar</button>
      <button on-click="cancelar" class="btn btn-outline-secondary btn-sm">Cancelar</button>
    </div>



<!--    <span hidden$="{{!isLogged}}">Bienvenido/a de nuevo</span> -->
    <br></br>
    <br></br>
    <br></br>
    <div id="error" hidden$="{{!hayError}}">Error en alta de usuario</div>
</div>

    <iron-ajax
      id="doAceptar"
      url="http://localhost:3000/proyecto2019/users"
      handle-as="json"
      content-type="application/json"
      method="POST"
      on-response="manageAJAXResponse"
      on-error="showError"
    >


  </template>


  <script>
    /**
     * @customElement
     * @polymer
     */
    class AltaUsuario extends Polymer.Element {
      static get is() { return 'alta-usuario'; }
      static get properties() {
        return {
          first_name: {type: String},
          last_name: {type: String},
          email: {type: String},
          password: {type: String},
          isLogged: {type: Boolean, value: false},
          hayError: {type: Boolean, value: false}
        };
      }

      aceptar() {
        console.log("El usuario ha pulsado el botón de alta de cliente");

        if (this.first_name == undefined || this.last_name == undefined || this.email == undefined
            || this.password == undefined)  {
            window.alert("Debe informar los datos requeridos");
        } else {
            console.log("Voy a enviar la petición");
            var altaData = {
              "first_name" : this.first_name,
              "last_name" : this.last_name,
              "email" : this.email,
              "password" : this.password
            };

            this.$.doAceptar.body = JSON.stringify(altaData);
            this.$.doAceptar.generateRequest();

            console.log("Peticion de alta enviada");
          }
      }

      manageAJAXResponse(data){
       console.log("Llegaron los datos");
       console.log(data.detail.response.id);

//       this.isLogged = true;
       window.location = "account/" + data.detail.response.id;


     }

     cancelar(data){
      console.log("Cancelo alta");
      window.location = "/";
    }
      showError(error) {
        console.log("Hubo un error");
        console.log(error);
        this.hayError = true;

      }
    }

    window.customElements.define(AltaUsuario.is, AltaUsuario);
  </script>
</dom-module>
